.post .post-header .post-meta .post-category a::before {
    content: ' · '
}

.archive .collection-title .archive-year {
    font-size: 1.8em;
}

.archive .archive-post {
  padding: 2px 0px 0px;
  border-bottom: none;
  font-size: 1em;
  display: table;
  width: 100%;
}

/* Background */ .chroma { color: #f8f8f2; background-color: #272822 }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameTag */ .chroma .nt { color: #f92672 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }


   
figure {
    margin: 1em 10px;
}

figcaptionq h4, .wp-caption-text {
    text-align:center;
    margin-top: 5px;
    color: #b5b5b5;
    font-size: .9rem;
}

figcaption {
  font-size: 0.8em;
  color: #8a8a8a;
}

.section-page-header a {
    color: #c05b4d;
}

body {
  border-top: 3px solid #c05b4d;
}

/* .post { */
/* 	padding: 2em 5em; */
/* 	margin: 0 5em 3em; */
/* } */


.post .post-content p {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  color: #444;
}


.post .post-header .post-title {
    font-family: 'Oswald', sans-serif;
}

.post .micro-header {
    margin-bottom: 0px;
    text-align: right;
    padding-bottom:0px;
}
.post .micro-header a {
    color: #8a8a8a;
    font-size: 15px;
} 

.micropost {
    padding: 0.5em 2em 2em 2em;
    margin: 0 1em 3em;
}

#hcard-Jack-Baty {
  display:none;
}

.post-meta .u-url {
    display:none;
}

.footnotes {
    font-size: 0.8em;
    line-height: 1.5;
}

.footnotes li {
    margin-bottom: 15px;
}


.post .post-content a {
    word-break: normal;
}

.highlight {
    font-size: smaller;
    line-height: 1.2em;
}

.post-content ul {
    line-height: 1.2em;
    font-size: smaller;
}
.post-content ul li {
    padding: 3px 0px;
}

.post .post-footer {
    margin-top: 3em;
}

/* Comments/Webmentions */

ol.commentlist {
	margin-left: 0px;
	font-size: 90%;
}

ol.commentlist, ol.mentions-list,
ol.commentlist ul.children {
	list-style: none;
}

ol.commentlist {
	margin-bottom: 50px;
}

ol.mentions-list {
 margin-left: 0px;
 font-size: 80%;
 margin-bottom: 50px;
}

.commentlist ul.children {
	margin-left: 0;
	padding-left: 20px;
}


ol.commentlist .avatar {
	float: left;
	margin-right: 15px;
	margin-left: 0px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-top: 5px;
}

.comment {
	padding-left: 20px;
	margin-bottom: 30px;
	margin-top: 1.5em;
	border: 1px solid #F0F0F0;
	padding: 20px;
}


.comment-content p a {
	text-decoration: none;
	color: #c05b4d;
}

.avatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.comment-meta,
.comment-meta a {
	font-size: 12px;
	color: #b3b3b1;
}

.comment-meta {
	margin-top: -5px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.comment-body {
	margin-bottom: 40px;
	margin-left: 0px;
}

.comment-author {
	font-size: 14px;
	line-height: 24px;
}

.comment-author cite {
	font-style: normal;
}

.comment-author .fn a {
  font-weight: bold;
	text-decoration: none;
	color: #c05b4d;
}


.mentions-list li.h-cite a {
	text-decoration: none;
	color: #c05b4d;
}

.comment-author .says,
.pingback .says,
.pingback .comment-meta,
.pingback .reply {
	display: none;
}

/* .archive .archive-post { */
/*     font-size: 1.0em; */
/*     border-bottom: none; */
/*     padding: 0; */
/*     display: inline-block; */
/* } */
.archive .archive-post {
  padding: 2px 0px 0px;
  border-bottom: none;
  font-size: 0.8em;
  display: table;
  width: 100%;
}

.archive-post-time {
    font-size: smaller;
}

#section-intro {
padding-left: 30px;
padding-right: 40px;
}

#section-intro a {
color: #c05b4d;
}

#your-host {
  float: right;
  padding: 0 0 10px 20px;
}

/* Stop things from moving around on hover */
.archive .archive-post:hover {
transform: none;
}

.post .post-footer .post-nav .next:hover, .post .post-footer .post-nav .prev:hover {
    transform: none;
}

.archive .collection-title .archive-year {
    margin: 2em 0 1em;
}